html, body, div, h1, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: helvetica;
  vertical-align: baseline;
}

body {
  background-image: url('../images/wood_texture_background.jpg');
  background-repeat: repeat;

}
div {
  text-align: center;
  width: 510px;
  margin: 0 auto;
}
h1 {
  font: 30px/40px arial, serif;
  padding: 10px;
  color: white;
  position: relative;
  left: 40%;
}
.border{
	background: radial-gradient(#999, #000);
	width: 570px;
	height: 490px;
	padding-top: 25px;
	border-radius: 25px;
}
canvas{
	border-radius: 25px;
}
.container {
  position: relative;
  background-color: green; 
}
.crosshair {
  width: 470px;
  height: 320px;
  position: absolute;
  top: 50px;
  left: 20px;
  cursor: crosshair;
}